<div class="version-search">
    <%= render partial: 'component/version_box' ,locals: { version: 'v', version_name: 'ALL' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v1', version_name: '1st&substream' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v2', version_name: '2nd style' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v3', version_name: '3rd style' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v4', version_name: '4th style' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v5', version_name: '5th style' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v6', version_name: '6th style' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v7', version_name: '7th style' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v8', version_name: '8th style' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v9', version_name: '9th style' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v10', version_name: '10th style' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v11', version_name: 'IIDX RED' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v12', version_name: 'HAPPY SKY' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v13', version_name: 'DistorteD' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v14', version_name: 'GOLD' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v15', version_name: 'DJ TROOPERS' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v16', version_name: 'EMPRESS' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v17', version_name: 'SIRIUS' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v18', version_name: 'Resort Anthem' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v19', version_name: 'Lincle' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v20', version_name: 'tricoro' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v21', version_name: 'SPADA' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v22', version_name: 'PENDUAL' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v23', version_name: 'copula' }%>
    <%= render partial: 'component/version_box' ,locals: { version: 'v24', version_name: 'SINOBUZ' }%>
</div>