<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104969273-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-104969273-2');
    </script>
    <title>IIDX スコアマネージャ(Saya)</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag('/assets/favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <ul>
            <li><%= link_to 'トップ', top_path %></li>
            <li><%= link_to 'スコア一覧', recent_path %></li>
            <li><%= link_to 'スコア比較', compare_path %></li>
            <li><%= link_to 'CSV管理', csv_path %></li>
            <li>Coming Soon</li>
            <li><%= link_to 'ログアウト', logout_path %></li>
          </ul>
        </nav>
      </header>
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <p>Copyright © 2017 Daiki Minakawa All Rights Reserved.</p>
      </div>
    </div>
  </body>
</html>
